<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
  <h1>Recipe Management System</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <form #recipeForm="ngForm">
          <div class="form-group">
            <label for="Recipe Id"> Recipe Id </label>
            <input
              type="text"
              class="form-control"
              name="id"
              #id="ngModel"
              ngModel
              required
              pattern="[0-9]+"
            />
            <div *ngIf="id.touched">
              <div *ngIf="id.errors?.['required']">
                <font color="red"><b>Recipe Id Required</b></font>
              </div>
              <div *ngIf="id.errors?.['pattern']">
                <font color="red"><b>Wrong input</b></font>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="Recipe Name"> Recipe Name </label>
            <input
              type="text"
              class="form-control"
              name="name"
              #name="ngModel"
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="Recipe Description"> Recipe Description </label>
            <input
              type="text"
              class="form-control"
              name="description"
              #description="ngModel"
              ngModel
            />
          </div>

          <button type="button" class="btn btn-success" (click)="insertRecipe(recipeForm.value)">Insert</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-primary" (click)="updateRecipe(recipeForm.value)">Update</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="deleteRecipe(recipeForm.value.id)">Delete</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-warning" (click)="findRecipeById(recipeForm.value.id)">Find</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-info" (click)="findAllRecipes()">Find All</button>
        </form>
      </div>
    </div>
  </div>
  <h3>{{ result }}</h3>
  <div *ngIf="flag">
    <table width="80%" align="center" class="table table-bordered">
      <thead>
        <tr>
          <th>Recipe Id</th>
          <th>Recipe Name</th>
          <th>Recipe Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipeArr">
          <td>{{ recipe.id }}</td>
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
